<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<br />
&nbsp; This post will talk about how to convert between cv::Mat and QImage.The solution is far from perfect and need to refine, please give me some helps if you know how to make the codes become better.


    Conversion between QImage and cv::Mat have some traps to deal with, I will write the codes step by step and explain why do I develop it like that, what kind of traps I want to deal with.

<br />
<h3>
Convert cv::Mat to QImage without copy(share the same buffer)</h3>
<pre class="prettyprint">QImage mat_to_qimage_ref_policy(cv::Mat &amp;mat, QImage::Format format)
{
  return QImage(mat.data, mat.cols, mat.rows, mat.step, format);
}</pre>
<pre class="prettyprint">&nbsp;</pre>
The trap at here is <b style="color: red;">mat.step</b>, the buffer of the cv::Mat may do some <b style="color: red;">padding(factor of 4) on each row</b> for the sake of speed. If you just wrote<br />
<br />
<pre class="prettyprint">QImage mat_to_qimage_ref_policy(cv::Mat &amp;mat, QImage::Format format)
{
  return QImage(mat.data, mat.cols, mat.rows, format);
}</pre>
<pre class="prettyprint">&nbsp;</pre>
The results may work or may not work because the bytes of each row(we call it stride), this is all depends on the image.To prevent this kind of tragedy, we need to tell the QImage how many bytes per row by <b style="color: red;">mat.step</b>.<br /><br />

<h3>
Convert cv::Mat to QImage by copy</h3>
<h3>
<span style="color: red;">&nbsp;Warning--this is dangerous </span></h3>
<pre class="prettyprint">QImage image(mat.data, mat.cols, mat.rows, 
QImage::Format_ARGB32);
for (int i = 0;i != image.height(); ++i) {
    memcpy(image.scanline(i), mat.ptr(i), mat.step);
}</pre>
<pre class="prettyprint">&nbsp;</pre>
This codes looks unharm at first, you could found this kind of suggestion from many forums, but this answer is partially work only.It create an empty mat, and copy the data of the mat to the QImage by memcpy,fast and low calorie?Wrong, because we didn't specify how many bytes per row when we construct the QImage.The correct solution should be<br />
<br />
<pre class="prettyprint">QImage mat_to_qimage_cpy_policy(cv::Mat const &amp;mat, 
                                QImage::Format format)
{
    return QImage(mat.data, mat.cols, mat.rows, 
       mat.step, format).copy();
}</pre>
<pre class="prettyprint">&nbsp;</pre>
Let the library tackle the problem for us, we don't need to copy the buffer by ourselves.<br /><br />
   

<h3>
Convert QImage to cv::Mat without copy(share the same buffer)</h3>
After you know how to convert cv::Mat to QImage, convert fro QImage to cv::Mat is trivial, same concepts with different api.
<pre class="prettyprint">cv::Mat start(QImage &amp;img, int format)
{
    return cv::Mat(img.height(), img.width(), 
            format, img.bits(), img.bytesPerLine());
}
</pre>
<h3>
Convert QImage to cv::Mat by copy</h3>
<pre class="prettyprint">cv::Mat start(QImage const &amp;img, int format)
{    
    return cv::Mat(img.height(), img.width(), format, 
                   const_cast&lt;uchar*&amp;gt(img.bits()), 
                   img.bytesPerLine()).clone();
}</pre>
<pre class="prettyprint">&nbsp;</pre>
I believe many c++ programmers would feel uncomfortable when you find out I used const_cast to cast the constness,believe it or not, I have the same feel as yours, but I can't find out a better way to copy the buffer.<br /><br />

<h3>
Other traps</h3>
Do we deal with all of the hassles already?Not yet, the default channels of the openCV is BGR but the QImage is RGB, that means you need to convert the channels from RGB to BGR when convert between three channels image and vice versa.In QImage, you could call "rgbSwapped()"; In cv::Mat, you could call cv::cvtColor to convert the channels.<br />

<h3>
Final results</h3>
It is a little bit annoying to write the conversion codes everytime, so I do some simple encapsulation on it.<br /><br />

  <b style="color: blue;"><a href="https://github.com/stereomatchingkiss/qimage_and_mat">final result</a></b><br /><br />

  These functions do not handles all of the image types between QImage and cv::Mat, but it should work on<br />
  most of the images.Take it if you like it.<br />
  
<h3>
Design choices</h3>
1 : why don't I use class<br />
  ans : Because I don't need to retain the state.Some c++ programmers(or many) believe that c++ is an object oriented language, but <b style="color: red;">this is not true, c++ is a multi-paradigms language</b>, it support many paradigms, OOP is one of them.The beauty of c++ is it never force us to bear the burden we don't have to, ask us to use the features we don't need.If you don't need it, just tell the compiler<br />
  by codes--"<span style="color: red;">I don't need it</span>".I may refactor these codes to classes when I think class could help me express my idea better.<br /><br />
  
  2 : Why do I use template(policy)?<br />
  ans : The codes of qimage_to_mat are almost the same, I don't want to generate same codes by hand.<br /><br />
  
  3 : Why do I use &amp;&amp; and template(Image)<br />
  ans : I want to retain the signature of the QImage(const&amp; or &amp;), this is the most easiest way I could think of.<br /><br />
  
  4 : The commit messages are rough<br />
  ans : They are part of the codes from the other repository of mine, full comment are store at another repository.<br /><br />
  
