<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<br />
This post will talk about how to write a generic for_each algorithm for cv::Mat

<br />
<h3>
Generic for_each for cv::Mat</h3>
&nbsp;&nbsp;

  When we design or implement some algorithms for digital image processing which do not provided<br />
by the openCV, we always have to iterate the pixels one by one.We have several options to access the pixel of cv::Mat.According to the benchmark of the ch2 on <b style="color: red;">"openCV2 computer vision application programming cookbook"</b> show, the fastest way is access the pixel by pointer.

  Assume that we want to invert the color of the three channels image, we may write something like this.<br />
<br />
<br />
<pre class="prettyprint">cv::Mat src = cv::imread("whatever.png");
std::vector&lt;uchar&gt; table(256);
for(int i = 0; i != 256; ++i){
    table[i] = 255 - i; 
}

int nr = src.rows;
int nc = src.cols;

if(src.isContinuous()){
    nr = 1;
    nc = nr * nc;
}

//iterate every pixels and invert the image
for(int row = 0; row != nr; ++row){
  auto ptr = src.ptr&lt;uchar&gt;(row);
  for(int col = 0; col != nc; ++col){
    *ptr = table[*ptr]; ++ptr;
    *ptr = table[*ptr]; ++ptr;
    *ptr = table[*ptr]; ++ptr;
  }
}</pre>
<pre class="prettyprint">&nbsp;</pre>
This is fine, but rewrite similar loops every times could be a tedious job to do, could we make it better?<b style="color: blue;">Yes, we can.</b>We could develop a generic algorithm for this usual case.<br />
<br />
<pre class="prettyprint">#define COMMON_DEBUG_MESSAGE  "file name : "+std::string(__FILE__)+\
        "\nfunction name : " + __FUNCTION__ + "\ninfo : "

/**
 * @brief generic algorithms for processing any byte-align 
 *        three channels images
 *
 * @param input : input image, must be three channels and 
 *                byte-align; the restriction of byte-align
 *                may removed in the future
 * @param func : trinary functor, accept the pixels of three 
 *               channels and process them
 * @return : return the functor
 *
 * @exception : every exception are derived from std::exception
 */
template&lt;typename T, typename TriFunc, typename Mat&gt;
TriFunc process_three_channels(Mat &amp;&amp;input, TriFunc func)
{
    if(input.channels() != 3){
        throw std::runtime_error(COMMON_DEBUG_MESSAGE + 
        "src.channels() != 3");
    }

    int rows = input.rows;
    int cols = input.cols;
    if(input.isContinuous()){
        rows = 1;        
        cols = input.total();
    }
    
    for(int row = 0; row != rows; ++row){
        auto input_ptr = input.template ptr&lt;T&gt;(row);
        for(int col = 0; col != cols; ++col){
            func(*input_ptr, *(input_ptr + 1), *(input_ptr + 2));
            input_ptr += 3;
        }
    }

    return func;
}</pre>
<pre class="prettyprint">&nbsp;</pre>
now we could simplify the algorithm as following<br />
<pre class="prettyprint">cv::Mat src = cv::imread("whatever.png");
std::vector&lt;uchar&gt; table(256);
for(int i = 0; i != 256; ++i){
    table[i] = 255 - i; 
}

process_three_channels&lt;uchar&gt;(src, [&amp;](uchar &amp;b, uchar &amp;g, uchar &amp;r)
{
  b = table[b];
  g = table[g];
  r = table[r];
});</pre>
<pre class="prettyprint">&nbsp;</pre>
Thanks for the help of generic programming, the codes become easier to maintain.You could develop<br />
different generic algorithms for cv::Mat, I already developed some for myself.Next time I would like to talk about how to implement the <b style="color: blue;">histogram backprojection algorithm</b> by openCV2.Although openCV2 already provide us one, but I believe the only way to prove that you understand the algorithm is developed it by yourself.<br />
<h3>
Design choices</h3>
1 : Why do I use &amp;&amp;(rvalue reference)?<br />
ans : I want to retain the signature of the cv::Mat(const&amp; or &amp;), this is the most easiest way I could think of.<br />
<br />
2 : Why do I make it as TriFunc but not an unary functor?
  ans : We may need to apply different calculation on different channel.<br />
ex :
<br />
<pre class="prettyprint">process_three_channels&lt;uchar&gt;(src, [&amp;](int &amp;b, int &amp;g, int &amp;r)
{
  b = cv::saturate_cast&lt;uchar&gt;(b + 30);
  g = cv::saturate_cast&lt;uchar&gt;(g - 20);
  r = cv::saturate_cast&lt;uchar&gt;(r + 10);
});
</pre>
