<p>
 Focus on <b style="color:blue">white balance</b> and <b style="color:blue">enhance contrast</b> of the images.<br>  
 Following are the road map and introduction of colorCorrection.
</p>	

<h2><u>Link</u></h2>

<ol>
  <li><a href="https://sites.google.com/site/stereomatchingkiss/colorcorrection1-0">colorCorrection 1.0</a></li>
  <li><a href="https://sites.google.com/site/stereomatchingkiss/colorcorrection1-1">colorCorrection 1.1</a></li>
</ol>
      
<h2><u>Road map</u></h2>
      
<ol>
  <li>colorCorrection 1.1
    <ul>
      <li>Add rubble band, allow users select and process the region they want(done)--2013/08/01</li>
      <li>Add one more automatic white balance algorithm(done)--2013/08/16</li>
      <li>Keep row number when changing view(done)--2013/08/16</li>
      <li>Fix bug of the algorithm "piecewise affine histogram"(value overflow)--2013/08/16</li>
      <li>support win7(stuck with openGL problem(no angle prebuild version of mingw, if Qt don't have a plan to support it,<br> 
          than I have no choice but compile it by myself).
      </li>  
    </ul>
  </li>	
  <li>colorCorrection 1.2
    <ul>
      <li>Add detail layout, allow users to view the details of image(width, height, image type, size etc)</li>
      <li>Add histogram layout, allow users to view the histogram of the images</li>      
    </ul>      
  </li>
  <li>colorCorrection 1.3
    <ul>    
      <li>Add algorithm "Local Color Correction"</li>
      <li>Add algorithm "Automatic color Enhancement"</li>      
    </ul>
  </li>  
  <li>colorCorrection 1.4
    <ul>    
      <li>Improve performance of the algorithms by parallel algorithms</li>
    </ul>
  </li>   
</ol>

<p>Please tell me what kind of functions, algorithms you think this software should have/remove, enhance.<br>
  I will try my best to make it come true.
</p>

<p>
  The icons of this application come from <a href = "http://www.fatcow.com/free-icons">fatcow icons</a>
</p>
