<p>
 Focus on <b style="color:blue">white balance</b> and <b style="color:blue">enhance contrast</b> of the images.<br> 
 To help the users adjust their images, colorCorrection 1.1 provide functions as follow.
</p>	
      
<ol>  
  <li>What is new in this version?
	<ul>	  
	  <li>Add rubble band, allow users select and process the region they want</li>
      <li>New automatic white balance algorithm--"Chromaticity white balance"</li>
      <li>Keep row number when changing view</li>
      <li>Fix bug of the algorithm "piecewise affine histogram"(value overflow)</li>      
   </ul>
  </li>   
  <li>Preview
      <ul>         
         <img src="http://farm3.staticflickr.com/2888/9301866115_f09a8d340d.jpg" width="500" height="260">         
         <img src="http://farm4.staticflickr.com/3749/9304646730_a04d91a419.jpg" width="500" height="220">
      </ul>
  </li>
  <li>Support platform
      <ul>
        <li>Mac OSX 10.7 and above(64bits)</li>
        <li>Win7(coming soon)</li>
      </ul>
  </li>
  <li>Price 19.99 USD</li>
  <li>Download links</li>
    <ul>
      <li><a href="http://sites.fastspring.com/stereomatchingkiss/product/colorcorrection1_1">colorCorrection1.1(commercial)</a></li>
      <li><a href="https://dl-web.dropbox.com/get/colorCorrection1.1_Trial.dmg?w=AADZTCVi-HPl0Rnssy4GgRCj2lf1NVFtjrMhWnw0f9YxmA">colorCorrection1.1_Trial</a>,  
          The functions of trial versions are same as the pay one, but the images after process will blended with watermark.</li>
    </ul>
</ol>

<p>Please tell me what kind of functions, algorithms you think this software should have/remove, enhance.<br>
  I will try my best to make it come true.
</p>

<p>
  The icons of this application come from <a href = "http://www.fatcow.com/free-icons">fatcow icons</a>
</p>
