<p>
 Focus on <b style="color:blue">white balance</b> and <b style="color:blue">enhance contrast</b> of the images.<br> 
 To help the users adjust their images, colorCorrection 1.0 provide functions as follow.
</p>	
      
<ol>
  <li>A small screen to show you the image after process in real time</li>
  <li>Batch processing</li>		
  <li>Three kind of layout to help you edit images</li>		
  <li>Open and show the images after process by a tool button, fast and intuitive</li>		
  <li>Read and save popular image formats, this include bmp, jpeg, png, ppm, tiff, xbm and xpm</li>		
  <li>Remove the images from list(this action do not delete the images from the folder)</li>
  <li>Show the progress with progress bar when there are many images under processing</li>
  <li>Algorithms(Most of them can process the images in different color space(<b style="color:blue">RGB, Lab, YCrCb</b> and so on))
	<ul>
	  <li>Contrast limited adaptive histogram</li>
      <li>Gamma correction</li>
      <li>Histogram equalization</li>
      <li>Gray world assumption</li>
      <li>HSV correction</li>
      <li>Monitor RGB</li>
      <li>Perfect reflector</li>
      <li>Piecewise affine histogram</li>
      <li>Simple Color Balance</li>
   </ul>
  </li>   
  <li>Preview
      <ul>         
         <img src="http://farm3.staticflickr.com/2888/9301866115_f09a8d340d.jpg" width="500" height="260">
         <img src="http://farm4.staticflickr.com/3749/9304646730_a04d91a419.jpg" width="500" height="220">
      </ul>
  </li>
  <li>Support platform
      <ul>
        <li>Mac OSX 10.7 and above</li>
      </ul>
  </li>
  <li>Price 19.99 USD</li>
  <li>Download links</li>
    <ul>
      <li>Commercial version1.0 is deprecated, please select version1.1</li>
      <li><a href="http://sites.fastspring.com/stereomatchingkiss/product/colorcorrection1_1">colorCorrection1.1(commercial)</a></li>
      <li><a href="https://www.dropbox.com/s/r1oxxylxvrk4q9r/colorCorrection1.0_Trial.dmg">colorCorrection1.0_Trial</a>,  
          The functions of trial versions are same as the pay one, but the images after process will blended with watermark.</li>
    </ul>
</ol>

<p>Please tell me what kind of functions, algorithms you think this software should have/remove, enhance.<br>
  I will try my best to make it come true.
</p>

<p>
  The icons of this application come from <a href = "http://www.fatcow.com/free-icons">fatcow icons</a>
</p>
