<p>
  <br>
  I am a computer engineer , a EE(Eletrical engineering) master graduate <br>
  from a national school in Taiwan(<a href="http://english.web.ncku.edu.tw/bin/home.php/">NCKU, National Cheng Kung University)</a>.My favorite language(religious belief^_^) is <br>
  c++, could deploy on any platforms supported by Qt and openCV(ex : mac, windows, linux, android, by now I only tried on mac and windows).<br>
Focus on developing image processing application.<br>
</p>
	
	
<h3>Skills</h3>
      
<ol>
    <li>Programming
		  <ul>
		    <li>GitHub Account : stereomatchingkiss</li>
            <li>BitBucket Account(commercial purpose only) : sstereomatchingkiss<br></li>
			<li>Main Languages : C++11(focus on complicated algorithms, heavy computation), qml(focus on fluently UI)</li>
			<li>Secondary langauges : c#, Haskell, Java, javascript(develop some simple script in qml), Verilog</li>
			<li>Libraries : Boost, openCV2, Qt5, STL</li>
            <li>Know a little bit of opengl, use it to do some simple image processing jobs</li>                                   
		  </ul>
    </li>
	<li>Digital Video Processing
          <ul>
            <li>Know some basic about it, currently I am focusing on the field of color correction(automatic white balance, contrast enhancement).</li>            
    </li>		  
</ol>

<h3>My thought of c++</h3>

<ol>
  <li>The features I like most
    <ul>
       <li>
          RAII, when you combine it with template, we could create many flexible resources manager(ex:unique_ptr, shared_ptr, lock_guard, unique_guard and so on).
       </li>
       <li>
          template, I always have to deal with diffrent primitive type(uchar, float, int and so on), template could help us develop generic algorithms to deal<br>
          with diffrent types.In c++98, the combination with template and function object are powerful enough, but in c++11, with the help of lambda,<br>
          stl like algorithms become even more powerful in c++.          
       </li>
    </ul>      
  </li>
  
  <li>Why choose c++ to develop image processing applications?
    <ul>
      <li>
        Many high quality, good performance libraries are based on c++, like openCV and PCL.
      </li>
      <li>
        Performance of c++ is compatible with c, you can express your logic with more expressive syntax without any performance penalty(or just a little penalty).<br>
        Please take a look at <a href="http://warp.povusers.org/programming/cplusplus_superior_to_c.html">why c++ is vastly superior to c</a>.
      </li>
      <li>
        Qt, a high quality, well design, portable c++ library.With it, I could develop portable applications between desktops and mobiles without too many hassle.
      </li>
    </ul>    
  </li>
  
  <li>My c++ coding style
    <ul>
      <li>
        I always believe we should learn from the best, and Bjarne is one of the best gurus in c++ community.  
        <a href="http://www.stroustrup.com/bs_faq2.html#coding-standard">Can you recommend a coding standard?</a><br>
        Bjarne teach us, "<b style="color:red">Don't use C coding standards</b> (even if slightly modified for C++) and <b style="color:red">don't use ten-year-old C++ coding standards</b><br> 
        (even if good for their time).<b style="color:red">C++ isn't (just) C and Standard C++ is not (just) pre-standard C++</b>".      
      </li>
      <li>
         Although I don't like to force "c with classes" in c++, I do know how to code with c paradigm(ex : always manipulate pixels by pointer,<br> 
         since the performance gain is manifest by this way), but I wouldn't choose "c with classes" in c++ in most of the times.<br>
      </li>
      <li>
        Prefer the coding guideline of those best c++ gurus proposed, andrei alexandrascu, bjarne, herb, lippman, meyers,
      </li>
      <li>
        If something I am doing is not plain, legible, and type-safe, chances are I am doing it the c way(although sometimes I do need to do that).
      </li>      
      <li>
        c++ is a multi-paradigms(c, stl, OOP, generic progamming, meta programming, functional programming) languages,<br> 
        do not force everything into one of the specific model.
      </li>
    </ul>    
  </li>  
  
</ol>
